jupyter
jupyter_contrib_nbextensions
# eralchemy
matplotlib
PILLOW
pre_commit
black
flake8
git+git://github.com/timothycrosley/isort.git@18ad293fc9d1852776afe35015a932b68d26fb14
seed-isort-config
# django-extensions
