{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load lookup %}
{% load plotly_dash %}

{% block extra_head %}
    {% load leaflet_tags %}
    {% load alert_state %}
    
  <meta property="og:image"
        content="http://info.dengue.mat.br/static/img/screenshot.png"/>
  <meta property="og:image:secure_url"
        content="https://info.dengue.mat.br/static/img/screenshot.png"/>

  <link href="/static/css/dash-app-custom.css" rel="stylesheet" type="text/css">

  <script src="/static/js/Autolinker.min.js" type="text/javascript"></script>
  <script src="/static/libs/jquery/jquery.sparkline.min.js"
          type="text/javascript"></script>
  
  <script src="/static/js/infodengue.js"
          type="text/javascript"></script>

  <style type="text/css">
      #main {
          width: 100%;
          height: 400px;
      }
  </style>

  {% plotly_header %}

{% endblock %}
{% block title %}{{state}}{% endblock %}

{% block content %}

<div class="container-fluid">
  <!-- chart-plot:begin -->
  <div class="row">
    <small>{% blocktrans %}Última atualização{% endblocktrans %}: {{last_update}}</small>
    <br/> &nbsp;
  </div>
  
    {% comment %} {% dash_epy_uf %} {% endcomment %}
    {{ dash_epy_uf | safe  }}

  {% comment %} <div style="
    position: relative;
    padding-bottom: 10.0%;
    height: 1800px;
    overflow:hidden;
    ">
    
  <iframe src="/django_plotly_dash/app/dash_app_state/" style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    " frameborder="0">
    </iframe>
  </div> {% endcomment %}
 

  

  <div style="
    position: relative;
    padding-bottom: 10.0%;
    height: 1000px;
    overflow:hidden;
    ">
  <iframe src="/django_plotly_dash/app/dash_app_state/" style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    " frameborder="0"> {% plotly_app name="dash_app_state" %}</iframe>
</div>
  

  <div style="
    position: relative;
    padding-bottom: 10.0%;
    height: 500px;
    overflow:hidden;
    ">
  <iframe src="/django_plotly_dash/app/app_epy/" style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    " frameborder="0">
      {% plotly_app name="app_epy" %}
    </iframe>
</div>


 <iframe title="Alerta Cases" aria-label="Brazil states (2018) choropleth map" id="datawrapper-chart-g2iFy" src="//datawrapper.dwcdn.net/g2iFy/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script> <div class="row">
    <div class="col-12">
      <div class='dash-app-area'>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal ends Here -->
{% endblock %}

{% plotly_footer %}